function Main.main 1
// let statement
push constant 5
push constant 6
push constant 50
call Square.new 3
pop local 0
// do statement
push local 0
call Square.draw 1
push temp 0
// do statement
push constant 1000
call Sys.wait 1
push temp 0
// do statement
push local 0
call Square.erase 1
push temp 0
// do statement
push constant 1000
call Sys.wait 1
push temp 0
// do statement
push local 0
call Square.draw 1
push temp 0
// do statement
push constant 1000
call Sys.wait 1
push temp 0
// do statement
push local 0
call Square.erase 1
push temp 0
// do statement
push constant 1000
call Sys.wait 1
push temp 0
// do statement
push local 0
call Square.dispose 1
push temp 0
// return statement
push constant 0
return
